services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www
    networks:
      - my-network
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - my-network
    depends_on:
      - app
      - db

  db:
    image: mysql:latest
    environment:
      MYSQL_DATABASE: skyeTrack
      MYSQL_ROOT_PASSWORD: password  # Keeps the root password
      # Remove the MYSQL_USER and MYSQL_PASSWORD lines
    networks:
      - my-network

networks:
  my-network: